.d1{
    width: 100vw;
    height:8vh;
    background-image: linear-gradient(to left, #000000 0%, #1c1c3ef9 50%, #111111 100%);

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Gotham SSm";
    color: white;
}

.body{
    margin: 0;
}

.d2{
    font-size: 17px;
    font-size: 500;
}

.d3{
    font-size: 14px;
}
.a1{
    color: white;
    font-size: 15px;
    text-underline-offset: 3px;
}

.d4{
    width: 100vw;
    height: 92vh;
    background-color: transparent;
    position: fixed;
}

.img1{
    width: 120px;
    margin-left: 65px;
    margin-top: 30px;
}
.list1{
    list-style: none;
    margin-left: 435px;
    margin-top: -24px;
}
.li1{
    display: inline;
    color: white;
    font-size: 14px;
    font-weight: 500;
    font-family: "Gotham SSm";
    margin-left: 25px;
}

.list2{
    list-style: none;
    margin-left: 1155px;
    margin-top: -35px;
    display: flex;
}

.li2{
    width: 23px;
    margin-left: 18px;
}

.d5{
    color: white;
    font-size: 40px;
    font-weight: 500;
    font-family:"Gotham SSm" ;

    display: flex;
    justify-content: center;
    margin-left: 10px;
}

.d6{
    color: white;
    font-size: 14px;
    font-family: "Gotham SSm";

    display: flex;
    justify-content: center;

    margin-left: 17px;
    margin-top: 10px;
}

.d7{
    display: flex;
    justify-content: center;
    margin-top: 340px;
}

.btn{
    width: 265px;
    height: 42px;
    margin-left: -15px;

    background-color: transparent;

    color: white;
    font-size: 14px;
    font-family: "Gotham SSm";
    font-weight: 500;

    border-radius: solid;
    border-color: white;
    border-width: 3px;
    border-radius: 5px;
}

.video{
    width: 100vw;
    height:92vh;
    object-fit: cover;
    position: fixed;
}